{%load static%}
<!-- footer -->
{% block statics %}
<link rel="stylesheet" href="{% static 'style/footer.css'%}">
<script src="{% static 'js/includes/footer.js' %}" defer type="text/javascript"></script>
{% endblock statics %}

<footer id="Footer" class="footer">
    <div class="fcitem-1">
        <img src="{% static 'img/icon.jpg' %}" class="footer-img" alt="Csapat icon">
        <div class="fcitem-1-szov">Szent Márton Cserkész csapat</div>
    </div>
    
    <ul class="f-contact-list">
        <li class="f-c-list-item fcitem-3">Email-cím: szmcscs350@gmail.com</li>
        <li class="f-c-list-item fcitem-4">Cím: 9700, Szombathely, Szent Márton utca 40.</li>
    </ul>
    <div class="copyright">
        <p class="creater">Created by MDnD-it</p>
        <p class="copyright-text">&copy 2022 Csepreg MDnD-it. Minden jog fenntartva.</p>
    </div>
</footer>
<div id="Up" class="up up-un-revealed">
    <i class="fa-solid fa-arrow-up up-arrow"></i>
</div>
<!-- end of footer -->
</body>
</html>