{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'style/gallery.css'%}">
{% endblock statics %}


{% block content %}
<div class="g_container">
    <div class="g-cim">
        <h1 class="gallery-title">Szent Márton cserkészcsapat</h1><br>
        <h2 class="gallery-subtitle">Galéria</h2><br>
        <div class="gallery-links">Galéria/</div>
    </div>
    
    <div class="g-main">
       {% for tema in temak %}
    <div class="g_single">   
        <a href="{% url 'esemeny' tema.theme_key%}" class="g_link">
            {% comment %} <img src="{{tema.boritokep_preview.url}}" class="{% if tema.boritokep.width > tema.boritokep.height %} g-theme-panorama {% else %} g-theme-profil {% endif %}"> {% endcomment %}
            <div class="g-bg" style="background-image: url('{{tema.boritokep_preview.url}}');"></div>
        </a>
        <a href="{% url 'esemeny' tema.theme_key%}" class="g_link">
            <h1 class="g_title">{{tema.temakor}}</h1>
        </a>
    </div>
    {% endfor %} 
    </div>
    
</div>
{% endblock %}