{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'style/csapat.css'%}">
{% endblock statics %}


{% block content %}

<h1 class="olddal-cím">A csapat rövid története</h1>

<div class="két-hasáb">
    <div class="bal">
        <div class="oldal-alcím">A kezdetek 1928-tól</div>
        <div class="szoveg"> „Csapatunk a 48. Rákóczi Ferenc Cserkészcsapat védőszárnyai alatt alakult meg, mint annak kisraja 1925 szeptemberében... 
            1928. január 10-én a Kerületi Intéző Bizottság jóváhagyásával megalakult az önálló szervezőtestület... 
            Nyári nagytáboraink: 1926-ban Kenyeriben (10 napos), 1927-ben Répceszentgyörgyön (3 hetes), 1928-ban rajki erdőben (18 napos) és 1929-ben Szilvásváradon (20 napos). Minden alkalommal testvércsapatunk a 48. Rákóczi csapat táborában, de önálló rajműködéssel. 
            A csapat jelenlegi létszáma: 34 fő, melyből 14 fiú kiscserkész, 20 pedig jelölt.” 
            Ezen összeállítás a MI TÍZ ÉVÜNK 1920-1930. jubileumi emlékkönyvben található, Herold M. István írásában. Az emlékkönyvet dr. Szendy László apát-plébános szerkesztette. 
            A cserkészcsapat 1946-ig az általános iskolai rendszer bevezetéséig működött.</div>
    </div>
    <div class="jobb">
        <div class="kép_és_aláírás">
            <img class="kep" src="{% static 'img/a_mi_tiz_evunk.jpg' %}" alt="A mi tíz évünk fedlapja">
            <div class="kép-aláírás">&#8222;A mi tízévünk fedlapja&#8223;</div>
        </div>
    </div>
</div>


       


<div class="két-hasáb alternatív-háttér">
    <div class="bal">
        <div class="oldal-alcím-alternatív">Az újraalakulás</div>
        <div class="szoveg">
            1989-ben a Szent Márton Plébánia káplánja Dóka Ferenc kezdeményezte a cserkészcsapat alakítását.
            A plébánia támogatta a kezdeményezést és a szervező káplán lett a csapat megbízott parancsnoka.
            A csapat nevét az egyházközség védőszentjétől vette és a korábbi kiscserkészcsapat utódjaként kezdte meg a működését. 
            1989 novemberében tett a fiúkból álló csapat fogadalmat. Az első csapattábor 1990 nyarán, Nádasdon volt.
            1991 ősze folyamán áthelyezés miatt parancsnokváltásra került sor. Bundics Antal cserkésztiszt lett a parancsnok.
        </div>
        <div class="szoveg">
            1993-ban Bundics Antalt szolgálata Rómába szólította. A csapat két segédtisztje sem tudott töretlen munkát végezni.
            1993-ban a csapat élére Aigner Géza káplán került, aki még nem rendelkezett cserkészismeretekkel, illetve az őrsvezetők közül is többen iskolát váltottak, s nem tudtak cserkészmunkát végezni. 
            Két évre volt szükség, hogy az új parancsnok Aigner Géza képesítést szerezzen, és hivatali elfoglaltsága mellett a cserkészettel megismerkedjen. 1994-től új jelöltek felvétele történt a csapathoz... 
            1996-ban a Szent Márton Év keretében Velemben táborozott a cserkészcsapat másik két Szent Márton nevét viselő csapattal.    
        </div>
        <div class="szoveg">
            1997-től újabb őrsvezetői képesítések megszerzésével tovább nőt a cserkészmunka minősége. 
        1998-ban főiskolás korú fiatalok vezetésével új lendületet vett a cserkészcsapat munkája.
        </div>
    </div>
    <div class="jobb">
        <div class="kép_és_aláírás">
            <img class="kep" src="{% static 'img/zaszlo.jpg' %}" alt="A csapat zászlaja">
            <div class="kép-aláírás">&#8222;A csapat zászlója&#8223;</div>
        </div>
    </div>
</div>



<div class="két-hasáb">
    <div class="bal">
        <div class="oldal-alcím">Jelen</div>
        <div class="szoveg">
            Ez a színvonalas munka, napjainkig is tart. Jelenleg a csapat létszáma {{data.oszletszam}} fő (papírforma szerint). Cserkésztiszt: {{data.cst}} fő,
            segédtiszt: {{data.csst}} fő, őrsvezető: {{data.ov}} fő. Jelenleg a csapatban {{data.osszors}} őrs van:
        </div>
        <table class="cs-tábla">
            <tr class="cs-sor cs-cím-sor">
                <td class="nev cs-oszlop">Őrs neve</td>
                <td class="orvsvezeto cs-oszlop">Őrs vezető</td>
                <td class="letszam cs-oszlop">Létszám</td>
            </tr>
            {% for obj in data.orsok %}
            <tr class="cs-sor">
                <td class="nev cs-oszlop">{{obj.orsnev}}</td>
                <td class="orvsvezeto cs-oszlop">{{obj.orsvezeto}}</td>
                <td class="letszam cs-oszlop">{{obj.letszam}}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="szoveg">
            Csapat tagjai rendszeresen vettek részt a népdaléneklési versenyeken,
            tájékozódási versenyeken. A 2000-es évek elején több alkalommal
            indultak cserkészeink katasztrófavédelmi és elsősegélynyújtó 
            versenyeken, melyeken kiemelkedő eredményeket értek el.
        </div>
    </div>
    <div class="jobb">
        <div class="kép_és_aláírás">
            <img class="kep" src="{% static 'img/cserkesz_csapat.jpg' %}" alt="A csapat 2022-ben">
            <div class="kép-aláírás">&#8222;A csapat 2022. nyarán&#8223;</div>
        </div>
    </div>
</div>
        
        
        





<div class="két-hasáb-t alternatív-háttér">
    <div class="bal-t">
        <div class="oldal-alcím-alternatív">Táborok</div>
        <div class="szoveg">
            <table class="cs-tábla">
                <tr class="cs-sor cs-cím-sor">
                    <td class="t-mikor cs-oszlop">Mikor</td>
                    <td class="t-helyszín cs-oszlop">Hol</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">1997</td>
                    <td class="t-helyszín cs-oszlop">Gersekarát</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">1998</td>
                    <td class="t-helyszín cs-oszlop">Gutorfölde</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">1999</td>
                    <td class="t-helyszín cs-oszlop">Szőce</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2000</td>
                    <td class="t-helyszín cs-oszlop">Gutorfölde</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2001</td>
                    <td class="t-helyszín cs-oszlop">Orosztony</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2002</td>
                    <td class="t-helyszín cs-oszlop">Valkonya</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2003</td>
                    <td class="t-helyszín cs-oszlop">Ráktanya</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2004</td>
                    <td class="t-helyszín cs-oszlop">Gérce-Rózsáskerti erdészház</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2005</td>
                    <td class="t-helyszín cs-oszlop">Zalaszentlászló</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2006</td>
                    <td class="t-helyszín cs-oszlop">Oszkó</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2007</td>
                    <td class="t-helyszín cs-oszlop">Rönök</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2008</td>
                    <td class="t-helyszín cs-oszlop">Kistolmács</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2009</td>
                    <td class="t-helyszín cs-oszlop">Velence</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2010</td>
                    <td class="t-helyszín cs-oszlop">Orosztony</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2011</td>
                    <td class="t-helyszín cs-oszlop">Kissomlyó</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2012</td>
                    <td class="t-helyszín cs-oszlop">Pusztacsatár</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2013</td>
                    <td class="t-helyszín cs-oszlop">Hosszúpereszteg</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2014</td>
                    <td class="t-helyszín cs-oszlop">Kemenessömjén</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2015</td>
                    <td class="t-helyszín cs-oszlop">Kőszegszerdahely</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2016</td>
                    <td class="t-helyszín cs-oszlop">Szentgyörgyvölgy</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2017</td>
                    <td class="t-helyszín cs-oszlop">Hegyfalu</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2018</td>
                    <td class="t-helyszín cs-oszlop">Kismákfa</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2019</td>
                    <td class="t-helyszín cs-oszlop">Kiscsehi-Budafapuszta</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2020</td>
                    <td class="t-helyszín cs-oszlop">Balogunyom</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2021</td>
                    <td class="t-helyszín cs-oszlop">Nyőgér</td>
                </tr>
                <tr class="cs-sor">
                    <td class="t-mikor cs-oszlop">2022</td>
                    <td class="t-helyszín cs-oszlop">Bárkás-tó</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="jobb-t">
        <div class="oldal-alcím-alternatív">Csapatparancsnokok</div>
        <div class="szoveg">
            <table class="cs-tábla">
                <tr class="cs-sor cs-cím-sor">
                    <td class="parancsnok cs-oszlop">Név</td>
                    <td class="mikortol cs-oszlop">Mikortól</td>
                    <td class="meddig cs-oszlop">Meddig</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Dóka Ferenc káplán</td>
                    <td class="mikortol cs-oszlop">1989</td>
                    <td class="meddig cs-oszlop">1991</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Bundics Antal</td>
                    <td class="mikortol cs-oszlop">1992</td>
                    <td class="meddig cs-oszlop">1993</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Aigner Géza káplán</td>
                    <td class="mikortol cs-oszlop">1994</td>
                    <td class="meddig cs-oszlop">1998</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Fülöp András</td>
                    <td class="mikortol cs-oszlop">1999</td>
                    <td class="meddig cs-oszlop">2014</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Bodorkós Gábor</td>
                    <td class="mikortol cs-oszlop">2015</td>
                    <td class="meddig cs-oszlop">2018</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Molnár Márk</td>
                    <td class="mikortol cs-oszlop">2019</td>
                    <td class="meddig cs-oszlop">2021</td>
                </tr>
                <tr class="cs-sor">
                    <td class="parancsnok cs-oszlop">Bodorkós Gábor</td>
                    <td class="mikortol cs-oszlop">2021</td>
                    <td class="meddig cs-oszlop">-</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}