{% extends 'base.html' %}
{% load static %}

{% block statics %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<link rel="stylesheet" href="{% static 'style/csapat.css'%}">
<script src="{% static 'js/csapat/seged.js' %}" defer type="text/javascript"></script>
{% endblock statics %}


{% block content %}
<h1 class="olddal-cím">Segédanyagok</h1>
<table class="seged-main-container">
    <thead>
    <tr id="Thead" class="thead tbr">
        
    </tr>
    </thead>
    <tbody id="SegedTable">

    </tbody>

</table>

{% endblock content %}