.vl{
    border: 0.1rem solid #66666655;
    content: "a";
    height: 100%;
}

.seged-main-container{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sor{
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid #555;
    padding: 1rem .5rem;
}

.order-by{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: .2rem .2rem;
}

.row1{
    grid-area: 1/1/2/2;
}
.row2{
    grid-area: 2/1/3/2;
}


.tipus-icon{
    width: 4rem;
    height: auto;
}

.oszlop{
    flex-wrap: wrap;
    display: flex;
    text-align:center;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.sor:nth-child(odd){
    background-color: #aaaaaa88;
}
.sor:nth-child(even){
    background-color: #88888877;
}
.thead{
    background-color: #777;
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid #555;
    padding: 3rem .5rem;
    }

.rotate{
    transform: rotate(180deg);
}

.oszlop:hover{
    cursor: pointer;
    color:#2164E8;
}

.theadc{
    cursor: pointer;
    display: flex;
    line-height: .5rem;
}
.theadc:hover{
    color: #fff;
}

.inactive-order{
    opacity: 40%;
}

.st-hely-szov{
    position: absolute;
    top: 35%;
    transform: translateY(50%);
    right: 8%;
    width: 80%;
    text-align: center;
}
.smiley{
    font-size: 6rem;
}


@media (max-width:1200px) {
    .tbr{
        font-size: 2.5rem;
    }
}
@media (max-width: 850px) {
    .tbr{
        font-size: 2rem;
    }
    .order-by{
        font-size: 1rem;
    }
}
@media (max-width:649px) {
    .tipus-icon, .nev, .temkor, .feltoltes-datuma{
        word-wrap: break-word;
    }
    .theadc{
        line-height: 3rem;
    }
}

/* cserkész közös */

.két-hasáb{
    display: flex;
    gap: 1rem;
    padding: 0 5%;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: max-content;
    margin-bottom: 3rem;
}
.kép_és_aláírás{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: .5rem 0;
}
.jobb{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.bal{
    width:60%;
}

.jobb-t, .bal-t{
    width: 50%;
}
.két-hasáb-t{
    display: flex;
    gap: 1rem;
    padding: 0 !important;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    height: max-content;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.kep{
    width: 75%;
    height: auto;
    margin: 0;
    z-index: 30 !important;
}
.kép-aláírás{
    width: 75%;
    font-style: italic;
    background-color: #226622;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    letter-spacing: .07rem;
}

.szoveg{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.cs-tábla{
    width: 90%;
    margin: 0 auto 4rem;
}
.cs-sor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid #555;
    padding: 1rem .5rem;
    font-style: italic;
}
.cs-oszlop{
    flex-wrap: wrap;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.cs-sor:nth-child(odd){
    background-color: #5CAD7788;
}
.cs-sor:nth-child(even){
    background-color: #5CAD7755;
}
.cs-cím-sor{
    background-color: #5CAD77 !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.parancsnok, .mikortol, .meddig, .nev, .orvsvezeto, .letszam{
    width: 33%;
}

.t-mikor, .t-helyszín{
    width: 50%;
}


.három-hasáb{
    display: grid;
    grid-template-columns: 20fr 70fr 20fr;
    grid-template-rows: max-content;
    align-items: center;
    justify-content: center;
}

.h-közép{
    grid-area: 1/2/2/3;
}
.bal_kep{
    grid-area: 1/1/2/2;
}
.jobb_kep{
    grid-area: 1/3/2/4;
}
.bal_jobb{
    display: none;
}

@media (max-width:1200px) {
    .három-hasáb{
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content;
    }
    .h-közép{
        grid-area: 1/1/2/2;
        padding: 0 3rem;
    }
    .bal_kep,.jobb_kep{
        display: none;
    }
    .bal_jobb{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .cstöri{
        width: 50% !important;
    }
    .kep{
        width: 70%;
    }
    .kép-aláírás{
        width: 70%;
        font-size: 2rem;
    }
}
@media (max-width:1100px) {
    .két-hasáb, .két-hasáb-t{
        flex-direction: column;
        padding: 0;
    }
    .bal,.jobb-t,.bal-t{
        width: 90%;
        margin: 0 auto;
    }
    .kép_és_aláírás{
        width: 50%;
    }
    .jobb{
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 800px) {
    .cs-sor{
        font-size: 2.5rem;
    }
    .cs-tábla{
        width: 95%;
    }
    .kep{
        width: 70%;
    }
    .kép-aláírás{
        width: 70%;
    }
}
@media (max-width:650px) {
    .cs-sor{
        font-size: 2rem;
    }
    .szoveg{
        font-size: 2.2rem;
    }
    .kep{
        width: 80%;
    }
    .kép-aláírás{
        width: 80%;
        font-size: 1.9rem;
    }
    .kép_és_aláírás{
        width: 100%;
    }
    .jobb{
        width: 60%;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media (max-width:560px) {
    .cs-sor{
        font-size: 1.8rem;
    }
    .szoveg{
        font-size: 2rem;
    }
    .kép-aláírás{
        font-size: 2rem;
    }
    .bal_jobb{
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }
    .cstöri{
        width: 70% !important;
    }
    
}
@media (max-width:450px) {
    .cs-sor{
        font-size: 1.6rem;
    }
    .szoveg{
        font-size: 1.8rem;
    }
}