/* common gallery style */
/* end of common gallery style */


/* gallery_theme.html */

.g_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;
}
.g-cim{
    padding: 0;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.g-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 0 auto 2rem;
}
.g_single{
    width: 30rem;
    display: flex;
    height: max-content;
    flex-direction: column;
    position: relative;
    background-color: #4FBA66;
    padding: 2rem 0;
    margin: 2rem;
    box-shadow: .2rem .2rem .5rem #000;
}
.g-bg{
    margin: 0 auto;
    background-size:contain;
    width: 90%;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:local;
}
.g_link{
    text-decoration: none;
}
.g_title{
    font-size: 4rem;
    color: #3D4536;
    text-shadow: .2rem .2rem .5rem #fff;
}

/* end of gallery_theme.html */

/* gallery photos */

.frissitve{
    text-align: right;
    margin: 0 .8rem 1.3rem 0;
}

.g_img{
    width:70%;
    height: auto;
    margin: 1rem;
    box-shadow: .2rem .2rem .3rem #000;
}

.gallery_all_content{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
}
.gvideo_container{
    width: 20%;
    margin: 2rem;
}
.all_img_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pswp__img--placeholder{
    display: none !important;
}
/* end of gallery phots */